@use './global';
@use './animations';

$main-shade-color: #e0942f;
$main-color: #ffc300;
$white-color: #e8e9ea;
$black-color: #2c2c2c;
$border-color: rgba(255, 255, 255, 0.2);

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.82);
	z-index: -1;
}

.orange-color {
	color: $main-color;
}

.underline {
	border-bottom: 4px solid $main-shade-color;
	margin: 0 auto;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
	width: 100px;
}

.underline-small {
	border-bottom: 1px solid $main-shade-color;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1em;
	width: 50px;
}

.title {
	color: $white-color;
}

.scale-animate {
	animation: reviewPhoto 1s linear;
}

// nav
.shadow-bg {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(12, 11, 12, 0.7260769619030899) 100%
	);
}

.navbar-dark .navbar-nav {
	.nav-link:hover {
		color: $main-shade-color;
	}
}

.nav-link {
	text-transform: uppercase;
	margin: 5px;
}

.navbar-dark .navbar-nav .nav-link {
	color: $white-color;
	&.active {
		color: $main-color;
	}
}

.navbar-toggler {
	padding: 0.5em 1em;
	font-size: 2rem;
}
// home

.home {
	position: relative;
	height: 100vh;
	background-image: url('../img/cat-bg.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;
	.btn {
		padding: 1.5em 3em;
		font-size: 1.5rem;
		text-transform: uppercase;
		border-radius: 14px;
		border: 1px solid $border-color;
		background-color: rgba(0, 0, 0, 0.1);
		transition: background-color 0.4s, color 0.4s, font-size 0.4s;

		&:hover {
			font-size: 2.5rem;
			background-image: url(../../dist/img/paw-solid.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			color: transparent;
			border: 1px solid transparent;
		}
	}
	.welcome-text {
		font-size: 4.5rem;
		font-family: 'Amatic SC', cursive;
	}
}

// logo zmiana kolorow
.catworks-cat {
	color: $main-color;
}
.catworks-works {
	color: $main-shade-color;
}

// -----
// about us
.aboutus-boxes {
	margin-top: 3rem;
}

.aboutus-box {
	border-radius: 15px;
	border: 1px solid $border-color;
	transition: color 0.4s, background-color 0.4s;
	h3 {
		font-size: 3.5rem;
		font-weight: bold;
		text-transform: uppercase;
		font-family: 'Amatic SC', cursive;
		color: $main-color;
	}
	.aboutus-icon {
		font-size: 4rem;
		color: $main-shade-color;
	}
	&:hover {
		background-color: $main-color;
		color: $black-color;
		border: 1px solid $black-color;
		h3,
		.aboutus-icon {
			color: $black-color;
		}
	}
}

// karuzela

.carousel {
	margin: 30px auto;
}

.carousel-item {
	img {
		background-size: cover;
		filter: opacity(0.5);
	}
	p {
		font-size: 1.5rem;
		color: $white-color;
	}
	.carousel-title {
		font-size: 2.5rem;
		color: $main-color;
		font-weight: bold;
	}
}
.carousel-photos {
	border-radius: 20px;
}
.carousel-caption {
	position: relative;
	left: 0;
	top: 0;
	padding-top: 1rem;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

// reviews

.reviews {
	padding-top: 0.5em;
	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__card {
		position: relative;
		border: none;
		border-radius: 8px;
		padding: 20px;
		width: 300px;
		height: 200px;
		margin: 2em 1em;
		background: rgb(63, 63, 63);
		background: linear-gradient(
			167deg,
			rgba(63, 63, 63, 1) 27%,
			rgba(29, 29, 29, 1) 76%
		);
		&:hover {
			animation: reviewPhoto 0.3s forwards;
		}

		&-name {
			font-size: 2rem;
			margin-top: 1em;
			margin-bottom: 0.5em;
			font-weight: 700;
			color: $white-color;
		}
		&-opinion {
			color: $white-color;
		}
	}
	img {
		position: absolute;
		width: 80px;
		height: 80px;
		object-fit: cover;
		top: -30px;
		right: -10px;
		border-radius: 50%;
		border: 5px solid $main-shade-color;
	}
}

// kontakt
// kontakt

.contact-box {
	background: rgb(44, 44, 44);
	background: linear-gradient(
		180deg,
		rgba(44, 44, 44, 0.5772005574087078) 48%,
		rgba(44, 44, 44, 0) 96%
	);
	border-radius: 25px;
	color: $white-color;
	width: 1200px;
	i {
		color: $main-color;
		font-size: 2rem;
	}
	a {
		text-decoration: none;
		color: $white-color;
	}
}
.contact-social {
	margin-top: 2em;
}

// footer

.footer {
	font-size: 1rem;
}

// ===================
// MEDIAQUERIES
// ===================

@media (max-width: 992px) {
	.contact-box {
		max-width: 70vw;
	}
}

@media (min-width: 768px) {
	.reviews {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}

@media (min-width: 992px) {
	.carousel-item {
		height: 100%;
	}
	.carousel-caption {
		position: absolute;
		top: 85%;
		height: 100%;
	}
	.reviews {
		&__cards {
			flex-direction: row;
			flex-wrap: nowrap;
		}
		&__card {
			width: 40%;
			min-height: 240px;
		}
	}
	.contact-box {
		max-width: 70vw;
	}
} ;
